﻿@using Microsoft.AspNet.Identity
@model Movies.Models.MovieModel

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <div class="row">
        <div class="jumbotron col">
            <h6><b>@Html.DisplayNameFor(model => model.ProductionYear)</b>: @Html.DisplayFor(model => model.ProductionYear)</h6>
            <h1>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h1>
            <p class="lead"><b>@Html.DisplayNameFor(model => model.DirectorName)</b> : @Html.DisplayFor(model => model.DirectorName)</p>
            <hr class="my-4">
            <p><b>@Html.DisplayNameFor(model => model.Description)</b> : @Html.DisplayFor(model => model.Description)</p>
            <p>
                @if (User.Identity.GetUserId() == Model.UserId)
                {
                    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}, new {@class = "btn btn-primary"})
                }

                @Html.ActionLink("Back to List", "Index", new {area = ""}, new {@class = "btn btn-primary"})
            </p>
        </div>
        <div class="col">
            <img width="200" class="align-content-lg-end" src="@Model.ImagePath"/>
        </div>
    </div>
</div>
