﻿@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Bootstrap4
@model X.PagedList.IPagedList<Movies.Models.MovieModel>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2>Главная</h2>

    @if (User.Identity.IsAuthenticated)
    {
        <p>
            @Html.ActionLink("Create New", "Create", new { @class = "btn btn-primary" })
        </p>
    }
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@item.ImagePath" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text">@item.ProductionYear</p>
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        }
    </div>
    <hr/>
    <div class="row">
        <div class="align-content-around">
            @Html.PagedListPager(Model, page => Url.Action("Index", new {page}), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
        </div>
    </div>

</div>




