﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", new { area = "" }, new { @class = "nav-item nav-link" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-item nav-link">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", new { area = "" }, new { @class = "nav-item nav-link" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", new { area = "" }, new { @class = "nav-item nav-link" })</li>
    </ul>
}
